@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Epilogue', sans-serif;
}

body {
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}