@import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  font-family: 'Epilogue', sans-serif;
}

body {
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  background: #faf7f5;
}

a {
  text-decoration: none;
}

a.request-beta {
  padding: 1em;
  display: inline-block;
  font-weight: 600;
  border-radius: 6px;
}

nav.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.navigation h1.title {
  font-weight: bolder;
}

nav.navigation a.request-beta {
  color: #17243a;
  border: 1px solid #49576e;
  font-size: 16px;
}

section.action-container {
  padding: 2em 1em;
}

section.action-container h1.header-text {
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
}

section.action-container h1.header-text b {
  font-weight: 900;
}

section.action-container p.description-text {
  margin: 2em 0;
  color: #49576e;
  line-height: 32px;
}

section.action-container a.request-beta {
  background: #17243a;
  color: #faf7f5;
  font-size: 16px;
  padding: 1em 2em;
  font-weight: 400;
  margin-bottom: 2em;
}

section.image-container {
  padding: 1em;
}

section.image-container img.phone-image {
  width: 100%;
  max-width: 100%;
}

section.reviews-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 5em 1em;
  padding-bottom: 200px;
}

section.reviews-container h1.review-title {
  font-size: 48px;
  letter-spacing: 1px;
}

section.reviews-container h5.review-sub-title {
  color: #49576e;
  padding-bottom: 2em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  line-height: 26px;
}

div.cmo-speaks {
  background: #17243a;
  color: #faf7f5;
  border-radius: 16px;
  padding: 1em;
  position: relative;
  padding-top: 250px;
}

div.cmo-speaks img.arrow {
  display: block;
  margin: 0 auto;
}

div.cmo-speaks img.cmo {
  position: absolute;
  top: -180px;
}

div.cmo-speaks div.words-container {
  text-align: center;
}

div.cmo-speaks div.words-container h1.header-title {
  padding: 1em 0;
  font-weight: 400;
}

div.cmo-speaks div.words-container p.subtitle {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0;
  margin-bottom: 1em;
}

div.cmo-speaks div.words-container div.name-position {
  text-transform: uppercase;
}

div.cmo-speaks div.words-container div.name-position .name {
  font-weight: bolder;
  padding: 1em 0;
}

div.cmo-speaks div.words-container div.name-position .sub {
  font-weight: 200;
}

footer.footer {
  padding: 2.5em 1em;
  background: #faf7f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 200px;
}
/*# sourceMappingURL=style.css.map */